extends ../layout

block append variables
  - var images = ['DSC_07_04', 'DSC_07_01', 'DSC_07_02', 'DSC_07_03', 'DSC_07_05', 'DSC_07_06', 'DSC_07_07', 'DSC_07_08', 'DSC_07_09']

block append head
  each img in images
    link(rel="preload", as="image", href=require(`../../images/${img}.jpg`))
  link(rel="preconnect" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")
  link(rel="dns-prefetch" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")

block header
  +header('')

block main
  main.main
    .container
      .row
        .col
          h3.text-dark.mt-4 ТО САМОЕ МЕСТО В ИНСКИХ ХОЛМАХ (судия № 3)
        hr
      .row
        .col-12.col-lg-7.mb-lg-3
          +carusel('', images)
        .col-12.col-lg-5.mt-5.mb-4.mt-lg-auto.mb-lg-3
          p.h3.text-center.mb-3.mb-lg-5
            | г. Новосибирск,
            br
            | ул. Большевистская, д. 35
          h5.text-center Параметры квартиры:
          ul.text-center.mb-4.mb-lg-5(style="list-style-type: none")
            li
              p.mb-1
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Площадь: 17 кв.м
            li
              p.mb-1
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Спальных мест: 2
            li
              p.mb-1
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Кровати: 1 двуспальный диван
          .d-grid.gap-3.col-8.mx-auto
            a.btn.btn-lg.btn-danger.border-3(href='booking.html' role="button") Забронировать
            a.btn.btn-lg.btn-warning.border-3(href='https://wa.me/79137400459?text=Добрый%20день.%20Перешел%20к%20вам%20в%20группу%20с%20сайта.%20Я%20бы%20хотел%20' target='_blank' role="button") Связаться с нами
        hr.mt-lg-4.mt-xl-5
      .row 
        .col-12.col-lg-2
          h5 О квартире:
        .col-12.col-lg-10(style="text-align: justify;")
          ul(style="list-style-type: none")
            li
              p.fw-bolder Данный объект является уникальным и первым на нашем опыте, так как изначально большая квартира была разделена на три студии! Каждая студия представляет собой отдельную квартиру, с входной дверью. Эти студии объединяет общий коридор, поэтому, Вы смело можете приезжать к нам большой компанией, где каждый будет жить в отдельной студии-квартире.
            li
              p.fw-bolder Яркая, компактная студия с просторной лоджией. Идеальна для одного, но может вместить и двух человек. Студия прекрасно подходит для тех, кто хочет отдохнуть от городской суеты, но при этом находясь в центре событий. В этой студии нет кровати, но есть комфортный и удобный раскладывающийся диван для крепкого сна и шторы blackout.
          ul(style="list-style-type: none")
            li
              p.fw-bolder В студии есть:
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Шкаф для хранения вещей.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Компактная кухня, посудой на двоих и всей необходимой бытовой техникой (микроволновка, чайник, электрическая плита, стиральная машина, фен, утюг, гладильная доска и водонагреватель) 😉.
        hr
      .row 
        .col-12.col-lg-2
          h5 Удобства:
        .col-12.col-md-6.col-lg-5
          ul.d-grid.gap-3(style="list-style-type: none")
            li.lh-1
              i.bi.bi-wifi(style="font-size: 2rem")
              | &nbsp;&nbsp;&nbsp;Wi-Fi
            li
              img(src=require("../../images/kitchen.svg"), alt="icons kitchen", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Кухня
            li
              img(src=require("../../images/shower.svg"), alt="icons shower", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Душ
            li
              img(src=require("../../images/dryer.svg"), alt="icons dryer", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Фен
            li.d-flex.align-items-center
              img(src=require("../../images/washer.svg"), alt="icons washer", height="32" width="32")
              span.ps-3.lh-1 Стиральная машина и сушилка для белья
        .col-12.col-md-6.col-lg-5
          ul.d-grid.gap-3(style="list-style-type: none")
            li.lh-1
              img(src=require("../../images/tv.svg"), alt="icons tv", height="32" width="32")
              span.ps-3.lh-1 Телевизор
            li.lh-1
              img(src=require("../../images/workspace.svg"), alt="icons workspace", height="32" width="32")
              span.ps-3.lh-1 Рабочее место
            li
              img(src=require("../../images/towels.svg"), alt="icons towels", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Полотенца
            li.d-flex.align-items-center
              img(src=require("../../images/cream.svg"), alt="icons cream", height="32" width="32")
              span.ps-3.lh-1 Предметы личной гигиены
            li.d-flex.align-items-center
              img(src=require("../../images/iron.svg"), alt="icons iron", height="32" width="32")
              span.ps-3.lh-1 Гладильная доска и утюг
        hr
      .row 
        .col-12.col-lg-2
          h5 Локация:
        .col-12.col-lg-10
          p.fw-bolder(style="text-align: justify;") Что такое «Инские Холмы» – это сити-квартал с неповторимой каскадной архитектурой. Комплекс располагается вдоль ключевой городской магистрали – улицы Большевистской. Безусловным преимуществом является шаговая доступность обновленной набережной реки Обь - отличное место для прогулки с семьей, любимыми и встречи с друзьями, а доступность метро «Речной вокзал» позволит Вам быстро добраться как на левый, так и на правый берег.
          h6 В шаговой доступности (7-15 минут) находятся:
          ul(style="list-style-type: none")
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Государственная публичная научно-техническая библиотека СО РАН.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Станция метро "Речной Вокзал".
      .row 
        .col-12.col-lg-2
        .col-12.col-lg-10
          h6 В 15-20 минутах на автомобиле:
          ul(style="list-style-type: none")
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | 4 км до НИИТО
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | 4 км до Новосибирский государственный академический театр оперы и балета
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | 4 км до Ж.Д. вокзала
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | 5 км до Регионального центра волейбола «Локомотив-Арена»
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | 6 км до Аквапарка "Аквамир"
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                |  7 км до Зоопарка, Дельфинария, Океанариума
        hr
      .row 
        .col-12.col-lg-2
          h5 Условия:
        .col-12.col-lg-10(style="text-align: justify;")
          p Заезд: с 14:00&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Выезд: до 12:00
          a.btn.btn-outline-info.border-2.my-3.text-dark(href='./rules.html') Ознакомьтесь с Правилами проживания
        hr
      .row
        .col-11.mx-auto.my-3
          #map(style="width: 100%; height: 400px")
block append footer
  script(async src="https://api-maps.yandex.ru/2.1/?apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU&onload=init" type="text/javascript")
  script
    include ../../js/map-bright-studio.js