extends ../layout

block append head
  link(rel="preload", as="image", href=require("../../../src/images/DSC_01.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_02.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_03.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_04.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_05.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_06.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_07.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_08.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_09.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_10.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_11.jpg"))
  link(rel="preload", as="image", href=require("../../../src/images/DSC_12.jpg"))
  link(rel="preconnect" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")
  link(rel="dns-prefetch" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")

block header
  +header('')

block main
  main.main
    .container
      .row
        .col
          h3.text-dark.mt-4 Европейский берег по-французски
        hr
      .row
        .col-12.col-lg-7
          +carusel()
        .col-12.col-lg-5.mt-5.mt-lg-0
          h5.text-center Цены на двое суток и более
          ul.list-group.list-group-flush
            li.list-group-item С 15 января по 30 апреля&nbsp;– 2200 рублей
            li.list-group-item С 01 мая по 31 августа&nbsp;– 2500 рублей
            li.list-group-item С 01 сентября по 25 декабря&nbsp;– 2200 рублей
            li.list-group-item С 26 декабря по 14 января&nbsp;– 3000 рублей
          h5.text-center.mt-3 Цены на одни сутки
          ul.list-group.list-group-flush
            li.list-group-item С 15 января по 30 апреля&nbsp;–  2500 рублей
            li.list-group-item С 01 мая по 31 августа&nbsp;– 2800 рублей
            li.list-group-item С 01 сентября по 25 декабря&nbsp;– 2500 рублей
            li.list-group-item С 26 декабря по 14 января&nbsp;– 3400 рублей
          p.my-3.fst-italic
            small Цены указаны на 1-2 человека (спальное место&nbsp;- двуспальная кровать), за третьего человека или дополнительный комплект белья доплата 
            small.fw-bold 800 рублей.
        hr.mt-lg-4.mt-xl-5
      .row 
        .col-12.col-lg-2
          h5 Локация:
        .col-12.col-lg-10 
          ul(style="list-style-type: none")
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Рядом с домом Вы можете прогуляться по набережной.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Отличная транспортная развязка. Удобно добираться до центра города, на левый берег, в сторону Академгородка и г.&nbsp;Бердска.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Бесплатная парковка на территории микрорайона.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | На районе множество кафе, кофеен и ресторанов.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Круглосуточный гипермаркет "Лента" в 300 метрах от дома.
        hr
      .row 
        .col-12.col-lg-2
          h5 Параметры квартиры:
        .col-12.col-lg-10 
          ul(style="list-style-type: none")
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Площадь: 34 кв.м
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Спальных мест: 2+1
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Кровати: 1 двуспальная, 1 односпальная
        hr
      .row 
        .col-12.col-lg-2
          h5 О квартире:
        .col-12.col-lg-10(style="text-align: justify;")
          ul(style="list-style-type: none")
            li
              p.fw-bolder Уютная и комфортная квартира в микрорайоне Европейский берег&nbsp;&nbsp;- один из самый развитых микрорайонов города с собственной инфраструктурой инабережной. Идеально подходит, как для рабочих поездок, так и романтических путешествий.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | В спальне расположены: новая кровать с матрасом из упругого пенополиуретана,  обеспечивающий базовый уровень комфорта; диван-кровать, который расправляется в удобное односпальное место; ЖК телевизор и рабочий стол со стулом.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Кухня обеспечена всей необходимой бытовой техникой (холодильник с морозильной камерой, микроволновая печь, варочная панель, духовой шкаф и чайник), посудой для приготовления пищи и всеми необходимыми столовыми приборами.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | В ванной комнате Вы сможете найти гель для душа, шампунь, зубные наборы для каждого гостя, ватные диски и ватные палочки.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Так же в квартире имеется гардеробная со множеством полок для удобного хранения Ваших вещей, стиральная машина с парой капсул для стирки, сушилка для белья, гладильная доска, утюг и фен.
        hr
      .row 
        .col-12.col-lg-2
          h5 Удобства:
        .col-12.col-md-6.col-lg-5
          ul.d-grid.gap-3(style="list-style-type: none")
            li.lh-1
              i.bi.bi-wifi(style="font-size: 2rem")
              | &nbsp;&nbsp;&nbsp;Wi-Fi
            li
              img(src=require("../../../src/images/kitchen.png"), alt="icons kitchen", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Кухня
            li
              img(src=require("../../../src/images/shower.png"), alt="icons shower", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Душ
            li
              img(src=require("../../../src/images/dryer.png"), alt="icons dryer", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Фен
            li.d-flex.align-items-center
              img(src=require("../../../src/images/washer.png"), alt="icons washer", height="32" width="32")
              span.ps-3.lh-1 Стиральная машина и сушилка для белья
        .col-12.col-md-6.col-lg-5
          ul.d-grid.gap-3(style="list-style-type: none")
            li.lh-1
              i.bi.bi-tv(style="font-size: 2rem")
              | &nbsp;&nbsp;&nbsp;Телевизор
            li.lh-1
              i.bi.bi-person-workspace(style="font-size: 2rem")
              | &nbsp;&nbsp;&nbsp;Рабочее место
            li
              img(src=require("../../../src/images/towels.png"), alt="icons towels", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Полотенца
            li.d-flex.align-items-center
              img(src=require("../../../src/images/cream.png"), alt="icons cream", height="32" width="32")
              span.ps-3.lh-1 Предметы личной гигиены
            li.d-flex.align-items-center
              img(src=require("../../../src/images/iron.png"), alt="icons iron", height="32" width="32")
              span.ps-3.lh-1 Гладильная доска и утюг
        hr
      .row 
        .col-12.col-lg-2
          h5 Условия:
        .col-12.col-lg-10(style="text-align: justify;")
          p Заезд: с 14:00&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Выезд: до 12:00
          a.btn.btn-outline-info.border-2.my-3.text-dark(href='./rules.html') Ознакомьтесь с Правилами проживания
        hr
      .row
        .col-11.mx-auto.my-3
          #map(style="width: 100%; height: 400px")

block append footer
  script(async src="https://api-maps.yandex.ru/2.1/?apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU&onload=init" type="text/javascript")
  script
    include ../../../src/js/map.js