extends ../layout

block append variables
  - var images = ['card-room', 'DSC_01_01', 'DSC_01_02', 'DSC_01_03', 'DSC_01_04', 'DSC_01_05', 'DSC_01_06', 'DSC_01_07', 'DSC_01_08', 'DSC_01_09', 'DSC_01_10', 'DSC_01_11', 'DSC_01_12']

block append head
  each img in images
    link(rel="preload", as="image", href=require(`../../images/${img}.jpg`))
  link(rel="preconnect" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")
  link(rel="dns-prefetch" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")

block header
  +header('')

block main
  main.main
    .container
      .row
        .col
          h3.text-dark.mt-4 Европейский берег по-французски
        hr
      .row
        .col-12.col-lg-7
          +carusel('', images)
        .col-12.col-lg-5.my-5.mt-lg-auto.mb-lg-0
          p.h3.text-center.mb-5
            | г. Новосибирск,
            br
            | ул. Большевитская, д. 96/1
          .d-grid.gap-3.col-10.mx-auto
            a.btn.btn-lg.btn-danger.border-3(href='booking.html' role="button") Забронировать
            a.btn.btn-lg.btn-warning.border-3(href='https://wa.me/79137400459?text=Добрый%20день.%20Перешел%20к%20вам%20в%20группу%20с%20сайта.%20Я%20бы%20хотел%20' target='_blank' role="button") Связаться с нами
        hr.mt-lg-4.mt-xl-5
      .row 
        .col-12.col-lg-2
          h5 Локация:
        .col-12.col-lg-10 
          ul(style="list-style-type: none")
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Рядом с домом Вы можете прогуляться по набережной.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Отличная транспортная развязка. Удобно добираться до центра города, на левый берег, в сторону Академгородка и г.&nbsp;Бердска.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Бесплатная парковка на территории микрорайона.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | На районе множество кафе, кофеен и ресторанов.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Круглосуточный гипермаркет "Лента" в 300 метрах от дома.
        hr
      .row 
        .col-12.col-lg-2
          h5 Параметры квартиры:
        .col-12.col-lg-10 
          ul(style="list-style-type: none")
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Площадь: 34 кв.м
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Спальных мест: 2+1
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Кровати: 1 двуспальная, 1 односпальная
        hr
      .row 
        .col-12.col-lg-2
          h5 О квартире:
        .col-12.col-lg-10(style="text-align: justify;")
          ul(style="list-style-type: none")
            li
              p.fw-bolder Уютная и комфортная квартира в микрорайоне "Европейский берег"&nbsp;&nbsp;- одном из самых развитых микрорайонов города с собственной инфраструктурой и набережной. Идеально подходит, как для рабочих поездок, так и романтических путешествий.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | В спальне расположены: кровать с матрасом из упругого пенополиуретана, который обеспечивает базовый уровень комфорта; диван-кровать, который расправляется в удобное односпальное место; ЖК телевизор; рабочий стол со стулом.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Кухня обеспечена всей необходимой бытовой техникой (холодильник с морозильной камерой, микроволновая печь, варочная панель, духовой шкаф и чайник), посудой для приготовления и приема пищи.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | В ванной комнате Вы сможете найти гель для душа, шампунь, зубные наборы для каждого гостя, ватные диски и ватные палочки.
            li
              p
                span.fw-bolder(style="color: #8B511D") ✓
                |
                | Так же в квартире имеется гардеробная со множеством полок для удобного хранения Ваших вещей, стиральная машина с капсулами для стирки, сушилка для белья, гладильная доска, утюг и фен.
        hr
      .row 
        .col-12.col-lg-2
          h5 Удобства:
        .col-12.col-md-6.col-lg-5
          ul.d-grid.gap-3(style="list-style-type: none")
            li.lh-1
              i.bi.bi-wifi(style="font-size: 2rem")
              | &nbsp;&nbsp;&nbsp;Wi-Fi
            li
              img(src=require("../../images/kitchen.svg"), alt="icons kitchen", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Кухня
            li
              img(src=require("../../images/shower.svg"), alt="icons shower", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Душ
            li
              img(src=require("../../images/dryer.svg"), alt="icons dryer", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Фен
            li.d-flex.align-items-center
              img(src=require("../../images/washer.svg"), alt="icons washer", height="32" width="32")
              span.ps-3.lh-1 Стиральная машина и сушилка для белья
        .col-12.col-md-6.col-lg-5
          ul.d-grid.gap-3(style="list-style-type: none")
            li.lh-1
              img(src=require("../../images/tv.svg"), alt="icons tv", height="32" width="32")
              span.ps-3.lh-1 Телевизор
            li.lh-1
              img(src=require("../../images/workspace.svg"), alt="icons workspace", height="32" width="32")
              span.ps-3.lh-1 Рабочее место
            li
              img(src=require("../../images/towels.svg"), alt="icons towels", height="32" width="32")
              | &nbsp;&nbsp;&nbsp;Полотенца
            li.d-flex.align-items-center
              img(src=require("../../images/cream.svg"), alt="icons cream", height="32" width="32")
              span.ps-3.lh-1 Предметы личной гигиены
            li.d-flex.align-items-center
              img(src=require("../../images/iron.svg"), alt="icons iron", height="32" width="32")
              span.ps-3.lh-1 Гладильная доска и утюг
        hr
      .row 
        .col-12.col-lg-2
          h5 Условия:
        .col-12.col-lg-10(style="text-align: justify;")
          p Заезд: с 14:00&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Выезд: до 12:00
          a.btn.btn-outline-info.border-2.my-3.text-dark(href='./rules.html') Ознакомьтесь с Правилами проживания
        hr
      .row
        .col-11.mx-auto.my-3
          #map(style="width: 100%; height: 400px")
block append footer
  script(async src="https://api-maps.yandex.ru/2.1/?apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU&onload=init" type="text/javascript")
  script
    include ../../js/map-european-coast.js