mixin cardWithBtn(idForImg, imgClassName, imageName, imgExt, cardTitle, cardText, cardAddress, arrSmallCardText, minPrice, btnLink)
  .card.mb-5
    .row.g-0.d-flex.flex-column.flex-lg-row.align-items-lg-center
      .col.col-lg-4
        +image(idForImg, imgClassName, imageName, imgExt)
      .col.col-lg-6
        .card-body
          h5.card-title.fw-bold.text-center.text-lg-start= cardTitle
          p.card-text.fw-bolder.text-center.text-lg-start= cardText
          p.card-text.fw-bolder.text-center.text-lg-start= cardAddress
          each smallText in arrSmallCardText
            p.card-text.m-0.text-center.text-lg-start
              small.text-muted.fw-bolder= smallText
      .col.col-lg-2
        p.card-text.text-center.m-0 от
        h5.card-title.text-center.fw-bold #{minPrice} руб.
        .d-grid.gap-3.col-12.col-sm-6.col-lg-12.mx-auto
          a.btn.btn-outline-secondary.border-3.btn-brown(href=`${btnLink}.html` type="button") Подробнее
          a.btn.btn-outline-danger.border-3(href='booking.html' type="button") Забронировать
